# a simple logging config
# Categories, in order of increasing severity (decreasing logfile verbosity)
# TRACE
# DEBUG
# INFO
# NOTICE    -- the usual default of log4j.category.rootmap
# WARN
# ERROR
# CRIT
# ALERT
# FATAL
# 

log4j.rootCategory=WARN,rootAppender
log4j.category.rootmap=NOTICE

# log4j.category.rootmap.ScrolledWindowBuffer=DEBUG
# log4j.category.rootmap.ViewBuffer=DEBUG
log4j.category.rootmap.ProcessDrawingBuffer=DEBUG

# log4j.category.rootmap.TXDataAccessManager=DEBUG
# log4j.category.rootmap.TXConfigurationDataStore=NOTICE
# log4j.category.rootmap.InputSchemeParser=DEBUG
log4j.category.rootmap.Scoreboard=DEBUG
log4j.category.rootmap.RmCharacteristicColourSelectionDialog=DEBUG

log4j.category.rootmap.SimulationEngine=DEBUG
# log4j.category.rootmap.PostOffice=DEBUG
# log4j.category.rootmap.Message=DEBUG
# log4j.category.rootmap.AllProcessSender=DEBUG

# log4j.category.rootmap.SharedAttributeUser=DEBUG
log4j.category.rootmap.SharedAttributeOwner=ERROR
# log4j.category.rootmap.ProcessSharedAttributeOwner=INFO
# log4j.category.rootmap.SharedAttributeFamily=DEBUG
# log4j.category.rootmap.SharedAttributeManager=DEBUG
# log4j.category.rootmap.SharedAttributeIteratorAssistant=DEBUG

# log4j.category.rootmap.Plant=INFO
log4j.category.rootmap.PlantCoordinator=DEBUG
log4j.category.rootmap.PlantSummary=DEBUG
log4j.category.rootmap.PlantSummaryRegistration=DEBUG

log4j.category.rootmap.OutputStrategyFactory=INFO
log4j.category.rootmap.OutputTimingStrategyFactory=INFO
log4j.category.rootmap.RegularOutputTimingStrategy=DEBUG


log4j.appender.rootAppender=org.apache.log4j.RollingFileAppender
log4j.appender.rootAppender.fileName=RootMap.log
log4j.appender.rootAppender.maxBackupIndex=20
log4j.appender.rootAppender.maxFileSize=1000000
log4j.appender.rootAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.rootAppender.layout.ConversionPattern=%d{%Y-%m-%d %X.%l} %p %c %m%n

